.paperButton {
  border: 15px solid var(--paper-color);
}

.scissorsButton {
  border: 15px solid var(--scissors-color);
}

.rockButton {
  border: 15px solid var(--rock-color);
}

.pickColumn {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 42vw;
  }

  .pickColumn p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    order: 1;
  }

  .pickColumn button {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition-property: transform;
    transition-duration: .6s;
    box-shadow: inset lightgrey 0px 8px;
  }

  
  .circleWave {
    top: 0rem;
    left: 1rem;
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    animation: waves 2.5s linear;
    animation-delay: .1s;
  }

  .circleWave2 {
    top: 0rem;
    left: 1rem;
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    animation: waves 2.5s linear .7s forwards;
  }

  .circleWave3 {
    top: 0rem;
    left: 1rem;
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    animation: waves 2.5s linear 1.3s forwards;
  }
  
  .noWave {
    display: none;
  }
  
  .pickLoaderContainer {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pickLoader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #17223e;
  }
  
  @keyframes waves {
    0% {
      transform: scale(1);
      opacity: 0.2;
    }

    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  
  @media only screen and (min-width: 768px) {

    .pickColumn {
      gap: 1rem;
      width: auto;
    }

    .pickColumn button {
      width: 225px;
      height: 225px;
    }

    .pickColumn p {
      font-size: 18px;
      letter-spacing: 2px;
      order: 0;
    }
    
    .buttonIcon {
      width: 75px;
      height: 75px;
    }

    .paperButton {
      border: 25px solid var(--paper-color);
    }
    
    .scissorsButton {
      border: 25px solid var(--scissors-color);
    }
    
    .rockButton {
      border: 25px solid var(--rock-color);
    }

    .pickLoaderContainer {
      width: 225px;
      height: 225px;
      border-radius: 50%;
    }
  
    .pickLoader {
      width: 150px;
      height: 150px;
    }

    .circleWave {
      top: 2rem;
      left: 0;
      position: absolute;
      width: 225px;
      height: 225px;
    }
  
    .circleWave2 {
      top: 2rem;
      left: 0;
      position: absolute;
      width: 225px;
      height: 225px;
    }
  
    .circleWave3 {
      top: 2rem;
      left: 0;
      position: absolute;
      width: 225px;
      height: 225px;
    }

  }