  .pickBodyWraper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 90vw;
    flex-wrap: wrap;
    margin: 6rem 0 0 0;
  }

  .pickResultColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    order: 2;
    margin-top: 2rem;
  }
  
  .pickResultColumn h1 {
    font-size: 42px;
    letter-spacing: 2px;
  }

  .pickResultColumn button {
    background-color: #fff;
    color: hsl(229, 25%, 31%);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    border: none;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .pickResultColumn button:hover {
    color: hsl(349, 71%, 52%);
  }

  .buttonIcon {
    width: 45px;
    height: 45px;
  }

  @media only screen and (min-width: 768px) {

    .pickBodyWraper {
      display: flex;
      flex-direction: row;
      gap: 6rem;
      width: 100vw;
      justify-content: center;
      align-items: center;
      margin-top: 0;
    }

    
    .pickResultColumn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      order: 0;
      margin-top: 0;
    }

  }