  .pickBodyWraper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 90vw;
    flex-wrap: wrap;
    margin: 4rem 0 0 0;
  }

  @media only screen and (min-width: 768px) {

    .pickBodyWraper {
      display: flex;
      flex-direction: row;
      gap: 6rem;
      width: 100vw;
      justify-content: center;
      align-items: center;
      margin-top: 0;
    }

  }