
.gameHeader {
    margin: 2rem 0;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 8px;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gameLogo {
    margin: 1rem;
  }
  
  .gameHeaderResultWrapper {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    width: 6rem;
  }
  
  .gameHeaderResultWrapper p {
    color: hsl(229, 64%, 46%);
    font-size: 14px;
    font-weight: 600;
  }
  .gameHeaderResultWrapper h1 {
    color: hsl(229, 25%, 31%);
    font-size: 42px;
    font-weight: 700;
  }

  @media only screen and (min-width: 768px) {


    .gameHeader {
      margin: 4rem 0 3rem 0;
      border-radius: 12px;
      width: 50vw;
    }

    .gameHeaderResultWrapper {
      padding: 0.5rem 1rem;
      width: 7rem;
    }
  
  }