
.gameBody {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 0 0;
  }
  
  .gameBodyBackground {
    height: 240px;
    width: 230px;
  }

  .gameBodyBackgroundWraper {
    z-index: 1;
    margin-top: 4rem;
  }
  
  .gameBodyButtonsWraper {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .gameButtonTopRow {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .gameButtonMiddleRow {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
  }
  
  .gameButtonBottomRow {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .gameBody button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition-property: transform;
    transition-duration: .6s;
    box-shadow: inset lightgrey 0px 5px;
  }
  
  .gameBody button:active {
    transform: scale(.9);
  }
  
  .paperButton {
    border: 12px solid var(--paper-color);
  }
  
  .scissorsButton {
    border: 12px solid var(--scissors-color);
  }
  
  .rockButton {
    border: 12px solid var(--rock-color);
  }

  .spockButton {
    border: 12px solid var(--spock-color);
  }

  .lizardButton {
    border: 12px solid var(--lizard-color);
  }

  @media only screen and (min-width: 768px) {

    .gameBody {
      margin-top: 6rem;
    }

    .gameBody button {
      width: 125px;
      height: 125px;
    }

    .gameBodyBackground {
      height: 285px;
      width: 300px;
    }

    .paperButton {
      border: 15px solid var(--paper-color);
    }
    
    .scissorsButton {
      border: 15px solid var(--scissors-color);
    }
    
    .rockButton {
      border: 15px solid var(--rock-color);
    }
  
    .spockButton {
      border: 15px solid var(--spock-color);
    }
  
    .lizardButton {
      border: 15px solid var(--lizard-color);
    }

    .gameButtonTopRow {
      margin-top: 2rem;
    }
  
    .gameButtonMiddleRow {
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9rem;
    }
    
    .gameButtonBottomRow {
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  
  }